<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Fishtank Controller
		link(rel="stylesheet", href="/css/styles.css", type='text/css')
		link(rel="stylesheet", href="/css/w3.css", type='text/css')
	body
		div.w3-panel.w3-padding-16.w3-center(style='max-width:768px;')
			h1 Water Parameters
			div.w3-bar.w3-light-grey
				a.w3-bar-item.w3-border-right.w3-button(href="http://192.168.100.50:8080") Home
			br
			p
				Water Parameters GO here
			p
