body {
	padding: 20px;
	background-color: #001a66;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	color: white;
	//font-family: verdana;
	font-size: 40px;
}

h2 {
	color: white;
	font-family: verdana;
	font-size: 20px;
}
	  
h3 {
	color: white;
	font-family: verdana;
	font-size: 15px;
}
	
#waterTempBox {
	width: 200px;
	height: 100px;
	padding: 25px;
	float: none;
	margin: 0 auto;	
	font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
}

#roomTempBox {
	width: 200px;
	height: 100px;
	padding: 25px;
	float: none;
	margin: 0 auto;	
	font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
}

input[type=checkbox] {
	display:none;
}
  
input[type=checkbox] + label {
	//background: #FF0000;
	//border-radius: 10px;
	background: url('/imgs/red.png') 0 0;
	padding: 10px;
	height: 80px;
	width: 65px;
	display:inline-block;
}
   
input[type=checkbox]:checked + label {
	//background: #00FF00 ;
	//border-radius: 10px;
	background: url('/imgs/green.png') 0 0;
	padding: 10px;
	height: 80px;
	width: 65px;
	display:inline-block;
}

img {
	height: 200px;
	width: 500px;
}
